.benefits {
    padding: 0 0 97px;
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .bnf {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 23px;
                width: 100px;
                min-width: 100px;
                height: 100px;
                background-color: #f8f8f8;
                border-radius: 50%;
                & img {max-width: 46px;}
                @media (max-width: 1170px)  {
                    margin-right: 10px;
                }
            }
            & p {
                max-width: 140px;
                font-family: 'Gilroy Regular';
                font-size: 16px;
                line-height: 21px;
                color: #363636;
                @media (max-width: 1170px)  {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}