.catalog {
    &-preview {padding-bottom: 33px;}
    &-head {
        .title {margin-bottom: 30px;}
    }
    &-list {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        &.tab-cnt {display: none;}
        &.active {display: flex;}
    }
    &-item {
        position: relative;
        width: 100%;
        max-width: 298px;
        margin-bottom: 27px;
        padding: 8px 25px 30px;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 15px;
        transition: 0.3s ease;
        overflow: hidden;
        &:hover {box-shadow: 0 0 20px #ebebeb;}
        &-img {
            display: block;
            width: 100%;
            height: 202px;
            margin-bottom: 9px;
        
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-title {
            display: block;
            margin-bottom: 9px;
            font-family: 'Gilroy Bold';
            font-size: 21px;
            line-height: 21px;
            color: #8dc63f;
            text-transform: uppercase;
            transition: 0.3s ease;
            &:hover {color: #6ca954;}
        }
        & p {
            display: block;
            margin-bottom: 12px;
            font-family: 'Gilroy Regular';
            font-size: 16px;
            line-height: 16px;
            color: #262626;
        }
        &-price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            & span {
                font-family: 'Gilroy Bold';
                font-size: 21px;
                line-height: 21px;
                &.price-value {
                    font-size: 16px;
                    line-height: 16px;
                }
                &.old {
                    margin-right: 16px;
                    color: #c2c2c2;
                    & span:not(.price-value) {text-decoration: line-through;}
                }
            }
        }
        &-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .btn {
                max-width: 139px;
                height: 45px;
                margin-right: 10px;
                font-size: 18px;
                line-height: 45px;
            }
        }
    }
}

.link-text {
    font-family: 'Gilroy Bold';
    font-size: 16px;
    line-height: 20px;
    color: #8dc63f;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s ease;
    &:hover {color: #6ca954;}
}

.stickers {
    position: absolute;
    top: 35px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & .sticker {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 66px;
        height: 36px;
        padding: 0 5px;
        font-family: 'Gilroy SemiBold';
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        text-transform: uppercase;
        &:not(:last-child) {margin-bottom: 6px;}
        &-s {
            font-size: 11px;
            line-height: 11px;
        }
        &-m {
            font-size: 12px;
            line-height: 12px;
        }
        &.sticker-green {background-color: #8dc63f;}
        &.sticker-orange {background-color: #f7941c;}
    }
}

.item-triggers {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .item-trigger {
        cursor: pointer;
        &:not(:last-child) {margin-right: 9px;}
        & path {
            fill: #DEDEDE;
            transition: 0.3s ease-out;
        }
        &:hover path,
        &.active path {fill: #8dc63f;}
    }
}

.circle-list {
    padding: 0 0 19px;
    margin: 0;
    list-style: none;
    & li {
        position: relative;
        padding-left: 12px;
        font-family: 'Gilroy SemiBold';
        font-size: 11px;
        line-height: 18px;
        color: #363636;
        &::before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #8dc63f;
        }
    }
}