.infobanner {
    padding-bottom: 145px;
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: 367px;
            height: 162px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            & > span {
                position: relative;
                left: 30px;
                & span {
                    display: block;
                    font-family: 'PF Din Text Cond Pro Bold';
                    text-transform: uppercase;
                    line-height: 27px;
                    color: #ffffff;
                    &.infobanner-title {
                        font-size: 36px;
                        line-height: 40px;
                    }
                    &.infobanner-title-s {font-size: 21px; }
                    &.infobanner-title-m {font-size: 26px; }
                }
            }
        }
    }
}