@font-face {
  font-family: 'Open Sans LightItalic';
  src: url("./fonts/opensans/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url("./fonts/opensans/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  src: url("./fonts/opensans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("./fonts/opensans/OpenSans-Bold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("./fonts/opensans/OpenSans-ExtraBold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans BoldItalic';
  src: url("./fonts/opensans/OpenSans-BoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Light';
  src: url("./fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Italic';
  src: url("./fonts/opensans/OpenSans-Italic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans SemiBoldItalic';
  src: url("./fonts/opensans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url("./fonts/opensans/OpenSans-Regular.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url("./fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Bold';
  src: url("./fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Medium';
  src: url("./fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Regular';
  src: url("./fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy ExtraBoldItalic';
  src: url("./fonts/gilroy/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy Light';
  src: url("./fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url("./fonts/gilroy/Gilroy-ExtraBold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Thin';
  src: url("./fonts/gilroy/Gilroy-Thin.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Black';
  src: url("./fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'PF Din Text Cond Pro Bold';
  src: url("./fonts/pfd/PFDinTextCondPro-Bold.woff2") format("woff2"), url("./fonts/pfd/PFDinTextCondPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
strong,
abbr,
acronym,
blockquote,
q,
cite,
ins,
del,
dfn,
a,
div,
span,
pre,
address,
br,
b,
i,
sub,
sup,
big,
small,
tt,
table,
tr,
caption,
thead,
tbody,
tfoot,
col,
colgroup,
form,
input,
label,
textarea,
button,
fieldset,
legend,
select,
option,
dl,
dt,
dd,
code,
var,
samp,
img,
object,
param,
map,
area {
  padding: 0;
  margin: 0;
  border: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
header,
footer,
aside,
article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button],
input[type=submit],
button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: black; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }
  .wrapper.wrapper-m {
    max-width: 1300px; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 196px;
  height: 51px;
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  background-color: #8dc63f;
  text-transform: uppercase;
  border-radius: 25px;
  transition: 0.3s ease; }

.btn:hover {
  background-color: #6ca954; }

.title {
  display: block;
  margin-bottom: 90px;
  font-family: 'Gilroy Black';
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  color: #4c4c4c; }

.header-triggers {
  padding: 25px 0;
  background-color: #ebebeb; }
  .header-triggers .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.search-field {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 244px;
  height: 40px;
  background-color: #ffffff; }
  .search-field input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gilroy Regular';
    font-size: 15px;
    line-height: 15px;
    color: #b1b1b1;
    text-transform: uppercase; }
    .search-field input::-webkit-input-placeholder {
      color: #b1b1b1; }
    .search-field input::-moz-placeholder {
      color: #b1b1b1; }
    .search-field input:-ms-input-placeholder {
      color: #b1b1b1; }
    .search-field input:-moz-placeholder {
      color: #b1b1b1; }
  .search-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    height: 40px;
    background: transparent; }
    .search-field button img {
      width: 20px;
      height: 21px; }

.call-triggers {
  display: flex;
  align-items: center;
  justify-content: center; }
  .call-triggers a:not(.callback-trigger) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    font-family: 'Gilroy Regular';
    font-size: 18px;
    line-height: 18px;
    color: #636363; }
    .call-triggers a:not(.callback-trigger) img {
      width: 34px;
      height: 34px;
      margin-right: 10px; }
  .call-triggers .callback-trigger {
    display: inline-block;
    margin-top: 1px;
    padding-bottom: 1px;
    font-family: 'Gilroy Bold';
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8dc63f;
    border-bottom: 1px solid #8dc63f;
    transition: 0.3s ease; }
    .call-triggers .callback-trigger:hover {
      border-bottom: 1px solid transparent; }

.header-navigation {
  padding: 5px 0 34px;
  background-color: #ffffff; }
  .header-navigation .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
  .header-navigation .logo {
    display: block;
    width: 100%;
    max-width: 190px; }
    .header-navigation .logo img {
      width: 100%; }

nav {
  position: relative; }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    nav ul li:not(:last-child) {
      margin-right: 31px; }
    nav ul li a {
      position: relative;
      font-family: 'Gilroy Bold';
      font-size: 18px;
      line-height: 18px;
      color: #464646;
      text-transform: uppercase;
      transition: 0.3s ease; }
      nav ul li a::before {
        content: '';
        position: absolute;
        top: -46px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #8dc63f;
        transition: 0.3s ease;
        opacity: 0; }
      nav ul li a:hover {
        color: #8dc63f; }
        nav ul li a:hover::before {
          opacity: 1; }

.menu-hidden {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 55px 50px;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0 0 9px 1px #E7E7E7; }
  .menu-hidden-wrapper {
    position: absolute;
    z-index: 7;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding-top: 30px; }
  .menu-hidden-column:not(:last-child) {
    margin-right: 40px; }
  .menu-hidden-column ul {
    display: block; }
    .menu-hidden-column ul li a {
      display: block;
      margin-bottom: 13px;
      font-family: 'Gilroy Regular';
      font-size: 14px;
      line-height: 14px;
      color: #4c4c4c;
      text-transform: none;
      transition: 0.3s ease; }
      .menu-hidden-column ul li a::before {
        display: none; }
      .menu-hidden-column ul li a:hover {
        color: #8dc63f; }
    .menu-hidden-column ul li.menu-hidden-title a {
      margin-bottom: 10px;
      font-family: 'Gilroy Black';
      font-size: 21px;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0.3s ease; }

.banner {
  padding: 60px 0 40px; }
  .banner-wrapper {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px 0 20px; }
  .banner-item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .banner-item-cnt {
      width: 100%;
      max-width: 580px;
      padding-right: 15px; }
  .banner-img {
    width: 100%;
    max-width: 515px;
    height: 508px; }
    .banner-img img {
      width: 100%;
      display: none; }
  .banner-title {
    display: block;
    margin-bottom: 20px;
    font-family: 'Gilroy Black';
    font-size: 39px;
    line-height: 53px;
    color: #464646; }

.banner-slider .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .banner-slider .owl-dots .owl-dot {
    display: block;
    width: 100%;
    height: 2px;
    max-width: 59px;
    background-color: #ebebeb !important;
    transition: 0.3s ease; }
    .banner-slider .owl-dots .owl-dot:not(:last-child) {
      margin-right: 6px; }
    .banner-slider .owl-dots .owl-dot span {
      display: none; }
    .banner-slider .owl-dots .owl-dot.active {
      background-color: #8dc63f !important; }

.infobanner {
  padding-bottom: 145px; }
  .infobanner-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .infobanner-list a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 367px;
      height: 162px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .infobanner-list a > span {
        position: relative;
        left: 30px; }
        .infobanner-list a > span span {
          display: block;
          font-family: 'PF Din Text Cond Pro Bold';
          text-transform: uppercase;
          line-height: 27px;
          color: #ffffff; }
          .infobanner-list a > span span.infobanner-title {
            font-size: 36px;
            line-height: 40px; }
          .infobanner-list a > span span.infobanner-title-s {
            font-size: 21px; }
          .infobanner-list a > span span.infobanner-title-m {
            font-size: 26px; }

.benefits {
  padding: 0 0 97px; }
  .benefits-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .benefits-list .bnf {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .benefits-list .bnf-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 23px;
        width: 100px;
        min-width: 100px;
        height: 100px;
        background-color: #f8f8f8;
        border-radius: 50%; }
        .benefits-list .bnf-icon img {
          max-width: 46px; }
      .benefits-list .bnf p {
        max-width: 140px;
        font-family: 'Gilroy Regular';
        font-size: 16px;
        line-height: 21px;
        color: #363636; }

.infoblock {
  padding-bottom: 94px; }
  .infoblock .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .infoblock .wrapper .logo {
      width: 100%;
      max-width: 190px;
      margin-right: 86px; }
      .infoblock .wrapper .logo img {
        width: 100%; }
  .infoblock-cnt p {
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 21px;
    color: #898989; }
  .infoblock-cnt h5 {
    margin-bottom: 21px;
    font-family: 'Gilroy Bold';
    font-size: 18px;
    line-height: 21px;
    color: #8dc63f; }
  .infoblock-cnt .paragraph-item:not(:last-child) {
    margin-bottom: 54px; }
  .infoblock-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px; }
  .infoblock-column {
    width: 100%;
    max-width: 385px; }

.infoblock-popular {
  padding-top: 40px; }
  .infoblock-popular h5 {
    display: inline-block;
    margin-bottom: 0; }
  .infoblock-popular a {
    display: inline-block;
    padding: 10px;
    font-family: 'Gilroy Regular';
    font-size: 12px;
    line-height: 12px;
    color: #898989;
    border-radius: 7px;
    box-shadow: 0 0 3px lightgray;
    border: 1px solid #ebebeb;
    transition: 0.3s ease; }
    .infoblock-popular a:hover {
      box-shadow: none; }
    .infoblock-popular a:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 17px; }

.prices {
  padding-bottom: 110px; }
  .prices-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .prices .price-item {
    display: block;
    width: 100%;
    max-width: 180px; }
    .prices .price-item:hover .price-name {
      color: #8dc63f; }
  .prices .price-img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 156px;
    height: 148px;
    margin: 0 auto 35px;
    background-color: #f8f8f8; }
    .prices .price-img img {
      position: absolute;
      bottom: -15px;
      right: 15px; }
  .prices .price-name {
    display: block;
    font-family: 'Gilroy Regular';
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #4c4c4c;
    transition: 0.3s ease; }

.footer {
  background-color: #363636;
  padding: 77px 0 60px; }
  .footer-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .footer-row:not(:last-child) {
      margin-bottom: 48px; }
    .footer-row p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: 'Gilroy Regular';
      font-size: 16px;
      line-height: 16px;
      color: #ffffff; }
      .footer-row p img {
        width: 100%;
        max-width: 112px;
        margin-left: 5px; }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .footer-column-item:not(:last-child) {
      margin-bottom: 28px; }
    .footer-column-item a,
    .footer-column-item span {
      display: block;
      margin-bottom: 25px;
      font-family: 'Gilroy Regular';
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
      transition: 0.3s ease; }
      .footer-column-item a:hover,
      .footer-column-item span:hover {
        color: #8dc63f; }
      .footer-column-item a:not(:last-child),
      .footer-column-item span:not(:last-child) {
        margin-bottom: 8px; }
    .footer-column-item a.footer-column-item-title,
    .footer-column-item span.footer-column-item-title {
      margin-bottom: 15px;
      font-family: 'Gilroy Bold';
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      color: #8dc63f; }

.socials-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -13px; }
  .socials-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%; }
    .socials-links a:not(:last-child) {
      margin-right: 10px; }
    .socials-links a img {
      width: 100%; }

/*# sourceMappingURL=maps/style.css.map */
