@font-face {
  font-family: 'Open Sans LightItalic';
  src: url("./fonts/opensans/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url("./fonts/opensans/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans ExtraBoldItalic';
  src: url("./fonts/opensans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("./fonts/opensans/OpenSans-Bold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("./fonts/opensans/OpenSans-ExtraBold.woff2") format("woff2"), url("./fonts/opensans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans BoldItalic';
  src: url("./fonts/opensans/OpenSans-BoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Light';
  src: url("./fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Italic';
  src: url("./fonts/opensans/OpenSans-Italic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans SemiBoldItalic';
  src: url("./fonts/opensans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("./fonts/opensans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url("./fonts/opensans/OpenSans-Regular.woff2") format("woff2"), url("./fonts/opensans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url("./fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Bold';
  src: url("./fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Medium';
  src: url("./fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Regular';
  src: url("./fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy ExtraBoldItalic';
  src: url("./fonts/gilroy/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Gilroy Light';
  src: url("./fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url("./fonts/gilroy/Gilroy-ExtraBold.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Thin';
  src: url("./fonts/gilroy/Gilroy-Thin.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Black';
  src: url("./fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("./fonts/gilroy/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'PF Din Text Cond Pro Bold';
  src: url("./fonts/pfd/PFDinTextCondPro-Bold.woff2") format("woff2"), url("./fonts/pfd/PFDinTextCondPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
strong,
abbr,
acronym,
blockquote,
q,
cite,
ins,
del,
dfn,
a,
div,
span,
pre,
address,
br,
b,
i,
sub,
sup,
big,
small,
tt,
table,
tr,
caption,
thead,
tbody,
tfoot,
col,
colgroup,
form,
input,
label,
textarea,
button,
fieldset,
legend,
select,
option,
dl,
dt,
dd,
code,
var,
samp,
img,
object,
param,
map,
area {
  padding: 0;
  margin: 0;
  border: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
header,
footer,
aside,
article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button],
input[type=submit],
button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: black; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

body.hidden {
  overflow: hidden; }

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }
  .wrapper.wrapper-m {
    max-width: 1300px; }
  .wrapper.wrapper-ml {
    max-width: 1460px; }
  .wrapper.wrapper-l {
    max-width: 1810px; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 196px;
  height: 51px;
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  background-color: #8dc63f;
  text-transform: uppercase;
  border-radius: 25px;
  transition: 0.3s ease; }
  @media (max-width: 767px) {
    .btn {
      max-width: 127px;
      height: 33px;
      font-size: 10px;
      line-height: 33px; } }

.btn:hover {
  background-color: #6ca954; }

.title {
  display: block;
  margin-bottom: 90px;
  font-family: 'Gilroy Black';
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  color: #4c4c4c; }
  @media (max-width: 1150px) {
    .title {
      margin-bottom: 50px; } }
  @media (max-width: 992px) {
    .title {
      font-size: 32px;
      line-height: 32px; } }

.tab-cnt {
  display: none; }

.tab-cnt.active {
  display: block; }

.tabs-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 69px; }
  @media (max-width: 992px) {
    .tabs-section {
      padding-bottom: 35px; } }
  .tabs-section a {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-family: 'Gilroy Bold';
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    color: #4c4c4c;
    transition: 0.3s ease; }
    @media (max-width: 992px) {
      .tabs-section a {
        font-size: 15px;
        line-height: 15px; } }
    @media (max-width: 767px) {
      .tabs-section a {
        padding-bottom: 7px; } }
    .tabs-section a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #8dc63f;
      opacity: 0;
      transition: 0.3s ease; }
      @media (max-width: 767px) {
        .tabs-section a::before {
          height: 3px; } }
    .tabs-section a:not(:last-child) {
      margin-right: 32px; }
      @media (max-width: 992px) {
        .tabs-section a:not(:last-child) {
          margin-right: 15px; } }
    .tabs-section a:hover, .tabs-section a.active {
      color: #8dc63f; }
      .tabs-section a:hover::before, .tabs-section a.active::before {
        opacity: 1; }

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 6;
  display: none; }
  .top-btn svg {
    background: #ffffff;
    border-radius: 50%; }
  .top-btn path {
    fill: #8dc63f;
    transition: 0.3s ease; }
  .top-btn:hover path {
    fill: #6ca954; }

.fix-triggers {
  position: fixed;
  top: 175px;
  right: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 20px 25px;
  background-color: #f8f8f8;
  box-shadow: 0 0 15px #eaeaea; }
  @media (max-width: 1170px) {
    .fix-triggers {
      padding: 15px; } }
  @media (max-width: 992px) {
    .fix-triggers {
      display: none; } }
  .fix-triggers svg path {
    fill: #8dc63f;
    transition: 0.3s ease; }

.fix-trigger {
  position: relative;
  display: block;
  width: 32px;
  height: 31px; }
  .fix-trigger:not(:last-child) {
    margin-bottom: 30px; }
  .fix-trigger:hover svg path {
    fill: #afafaf; }
  .fix-trigger span {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-family: 'Gilroy Regular';
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #8dc63f;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px lightgray; }

.caller {
  position: fixed;
  left: 75px;
  bottom: 20px;
  z-index: 7;
  cursor: pointer; }
  @media (max-width: 992px) {
    .caller {
      display: none; } }
  .caller-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    background-color: #8dc63f;
    border-radius: 50%;
    transition: 0.3s ease; }
    .caller-img-icon {
      transition: 0.3s ease;
      overflow: hidden; }
      .caller-img-icon.caller-close {
        width: 0;
        height: 0;
        opacity: 0; }
      .caller-img-icon.caller-open {
        width: 52px;
        height: 46px;
        opacity: 1; }
  .caller-hidden {
    position: absolute;
    left: 50%;
    bottom: calc(100%);
    transform: translateX(-50%); }
    .caller-hidden a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0;
      height: 0;
      background-color: #8dc63f;
      border-radius: 50%;
      transition: 0.3s ease;
      overflow: hidden;
      opacity: 0;
      margin-bottom: 10px; }
      .caller-hidden a:hover {
        background-color: #6ca954; }
      .caller-hidden a.caller-phone img {
        width: 25px;
        height: 25px; }
      .caller-hidden a.caller-message img {
        width: 28px;
        height: 26px; }
  .caller.open .caller-img {
    background-color: #d7d7d7; }
  .caller.open .caller-img-icon.caller-close {
    width: 27px;
    height: 27px;
    opacity: 1; }
  .caller.open .caller-img-icon.caller-open {
    width: 0;
    height: 0;
    opacity: 0; }
  .caller.open .caller-hidden a {
    width: 65px;
    height: 65px;
    opacity: 1; }

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 15px;
  z-index: 10;
  display: none;
  transition: 0.5s ease; }

.popup-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); }
  @media (max-width: 440px) {
    .popup-layout {
      align-items: flex-start;
      padding: 20px; } }

.popup {
  position: relative;
  width: 100%;
  max-width: 393px;
  padding: 45px 30px;
  background-color: #ffffff; }
  @media (max-width: 440px) {
    .popup {
      padding: 50px 15px; } }

.popup-title {
  margin-bottom: 43px;
  font-family: 'Gilroy Bold';
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #4c4c4c; }

.field {
  display: block;
  width: 100%;
  padding: 5px 13px 9px;
  font-family: 'Gilroy Regular';
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #999999;
  border-bottom: 1px solid #999999;
  transition: 0.3s ease; }
  .field:not(:last-child) {
    margin-bottom: 17px; }
  .field:focus {
    border-bottom: 1px solid #8dc63f; }

.popup .btn {
  max-width: 174px;
  margin-top: 33px;
  height: 45px;
  font-size: 16px;
  line-height: 45px; }

.popup-close {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 100%;
  max-width: 27px; }

.popup-close img {
  width: 100%; }

.header-triggers {
  padding: 25px 0;
  background-color: #ebebeb; }
  @media (max-width: 992px) {
    .header-triggers {
      padding: 19px 0 0; } }
  .header-triggers .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 993px) {
      .header-triggers .wrapper .fix-trigger {
        display: none; } }
    @media (max-width: 992px) {
      .header-triggers .wrapper {
        flex-flow: row wrap;
        margin: 0 auto 36px;
        max-width: 360px; }
        .header-triggers .wrapper .fix-trigger {
          margin: 0 10px 0 0; }
        .header-triggers .wrapper .search-field {
          max-width: 188px; }
        .header-triggers .wrapper .call-triggers {
          margin-top: 30px; }
          .header-triggers .wrapper .call-triggers a:not(.callback-trigger) {
            font-size: 14px;
            line-height: 14px; } }

.header-nav-wrap {
  background-color: #ebebeb; }
  @media (max-width: 992px) {
    .header-nav-wrap {
      display: none; } }

.search-field {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 244px;
  height: 40px;
  background-color: #ffffff; }
  .search-field input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Gilroy Regular';
    font-size: 15px;
    line-height: 15px;
    color: #b1b1b1;
    text-transform: uppercase; }
    .search-field input::-webkit-input-placeholder {
      color: #b1b1b1; }
    .search-field input::-moz-placeholder {
      color: #b1b1b1; }
    .search-field input:-ms-input-placeholder {
      color: #b1b1b1; }
    .search-field input:-moz-placeholder {
      color: #b1b1b1; }
  .search-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    height: 40px;
    background: transparent; }
    .search-field button img {
      width: 20px;
      height: 21px; }

.call-triggers {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 359px) {
    .call-triggers {
      flex-direction: column;
      width: 100%; } }
  .call-triggers a:not(.callback-trigger) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    font-family: 'Gilroy Regular';
    font-size: 18px;
    line-height: 18px;
    color: #636363; }
    @media (max-width: 359px) {
      .call-triggers a:not(.callback-trigger) {
        margin: 0 auto 15px; } }
    .call-triggers a:not(.callback-trigger) img {
      width: 34px;
      height: 34px;
      margin-right: 10px; }
  .call-triggers .callback-trigger {
    display: inline-block;
    margin-top: 1px;
    padding-bottom: 1px;
    font-family: 'Gilroy Bold';
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8dc63f;
    border-bottom: 1px solid #8dc63f;
    transition: 0.3s ease; }
    .call-triggers .callback-trigger:hover {
      border-bottom: 1px solid transparent; }

.header-navigation {
  padding: 5px 0 34px;
  background-color: #ffffff; }
  @media (max-width: 992px) {
    .header-navigation {
      max-width: 320px;
      margin: 0 auto;
      padding: 0 0 90px;
      background-color: #ebebeb; } }
  .header-navigation .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .header-navigation .wrapper {
        max-width: 360px;
        margin: 0 auto; } }
  .header-navigation .logo {
    display: block;
    width: 100%;
    max-width: 190px; }
    @media (max-width: 992px) {
      .header-navigation .logo {
        display: none; } }
    .header-navigation .logo img {
      width: 100%; }

nav {
  position: relative; }
  @media (max-width: 992px) {
    nav {
      width: 100%; } }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    @media (max-width: 992px) {
      nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; }
        nav ul .menu-hidden-trigger-hidden {
          display: none; } }
    nav ul li:not(:last-child) {
      margin-right: 31px; }
      @media (max-width: 1170px) {
        nav ul li:not(:last-child) {
          margin-right: 22px; } }
      @media (max-width: 992px) {
        nav ul li:not(:last-child) {
          margin: 0 0 20px; } }
    nav ul li a {
      position: relative;
      font-family: 'Gilroy Bold';
      font-size: 18px;
      line-height: 18px;
      color: #464646;
      text-transform: uppercase;
      transition: 0.3s ease; }
      @media (max-width: 1170px) {
        nav ul li a {
          font-size: 15px;
          line-height: 15px; } }
      @media (max-width: 992px) {
        nav ul li a {
          font-size: 18px;
          line-height: 18px; } }
      nav ul li a::before {
        content: '';
        position: absolute;
        pointer-events: none;
        top: -46px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #8dc63f;
        transition: 0.3s ease;
        opacity: 0; }
      nav ul li a:hover {
        color: #8dc63f; }
        nav ul li a:hover::before {
          opacity: 1; }

.menu-hidden {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 55px 50px;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0 0 9px 1px #E7E7E7; }
  @media (max-width: 992px) {
    .menu-hidden {
      padding: 0;
      background-color: transparent;
      box-shadow: none; }
      .menu-hidden-trigger {
        margin: 0 !important;
        width: 100%; } }
  .menu-hidden-wrapper {
    position: absolute;
    z-index: 7;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding-top: 30px; }
    @media (max-width: 992px) {
      .menu-hidden-wrapper {
        position: static;
        display: block;
        padding: 0; } }
  .menu-hidden-column:not(:last-child) {
    margin-right: 40px; }
  @media (max-width: 992px) {
    .menu-hidden-column {
      width: 100%;
      margin: 0 0 7px !important; } }
  .menu-hidden-column ul {
    display: block; }
    .menu-hidden-column ul.open li:not(.menu-hidden-title) {
      display: block; }
    .menu-hidden-column ul.open .menu-hidden-title a {
      color: #8dc63f; }
    .menu-hidden-column ul.open .menu-hidden-title svg {
      transform: rotate(180deg); }
      .menu-hidden-column ul.open .menu-hidden-title svg path {
        fill: #8dc63f; }
    @media (max-width: 992px) {
      .menu-hidden-column ul li {
        margin: 0 0 13px !important; }
        .menu-hidden-column ul li:not(.menu-hidden-title) {
          display: none; } }
    .menu-hidden-column ul li a {
      display: block;
      margin-bottom: 13px;
      font-family: 'Gilroy Regular';
      font-size: 14px;
      line-height: 14px;
      color: #4c4c4c;
      text-transform: none;
      transition: 0.3s ease; }
      .menu-hidden-column ul li a::before {
        display: none; }
      .menu-hidden-column ul li a:hover {
        color: #8dc63f; }
    .menu-hidden-column ul li.menu-hidden-title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .menu-hidden-column ul li.menu-hidden-title svg {
        display: none;
        width: 7px;
        height: 4px; }
        .menu-hidden-column ul li.menu-hidden-title svg path {
          transition: 0.3s ease; }
        @media (max-width: 992px) {
          .menu-hidden-column ul li.menu-hidden-title svg {
            display: block; } }
      @media (max-width: 992px) {
        .menu-hidden-column ul li.menu-hidden-title {
          margin-bottom: 10px; } }
      .menu-hidden-column ul li.menu-hidden-title a {
        margin-bottom: 10px;
        font-family: 'Gilroy Black';
        font-size: 21px;
        line-height: 21px;
        text-transform: uppercase;
        transition: 0.3s ease; }
        @media (max-width: 992px) {
          .menu-hidden-column ul li.menu-hidden-title a {
            font-family: 'Gilroy Bold';
            margin-bottom: 0;
            font-size: 18px;
            line-height: 18px; } }

.header-mob {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 25px;
  background-color: #ebebeb; }
  @media (min-width: 993px) {
    .header-mob {
      display: none; } }
  .header-mob .logo {
    width: 100%;
    max-width: 161px; }
  .header-mob-triggers {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .header-mob-triggers .cart-trigger {
      margin: 0 53px 0 0; }
      @media (max-width: 359px) {
        .header-mob-triggers .cart-trigger {
          margin: 0 25px 0 0; } }
    .header-mob-triggers .nav-trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px; }
      .header-mob-triggers .nav-trigger img.nav-close {
        width: 39px;
        height: 39px; }
      .header-mob-triggers .nav-trigger img.nav-open {
        display: none;
        width: 27px;
        height: 27px; }

header.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  z-index: 7;
  background-color: #ebebeb; }
  header.open .header-nav-wrap {
    display: block; }
  header.open .header-mob-triggers .nav-trigger img.nav-close {
    display: none; }
  header.open .header-mob-triggers .nav-trigger img.nav-open {
    display: block; }

@media (min-width: 993px) {
  header.fixed .header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    box-shadow: 0 0 10px lightgray; }
  header.out .header-navigation {
    transform: translateY(calc(-100% - 15px)); } }

@media (max-width: 992px) {
  header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    box-shadow: 0 0 10px lightgray; }
  header.out {
    transform: translateY(calc(-100% - 15px)); } }

.banner {
  padding: 20px 0 16px; }
  @media (max-width: 767px) {
    .banner {
      padding: 20px 0 23px; } }
  .banner .wrapper {
    padding-left: 162px; }
    @media (max-width: 1470px) {
      .banner .wrapper {
        max-width: 1180px;
        padding-left: 20px; } }
  .banner-item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .banner-item {
        flex-direction: column;
        align-items: flex-start; } }
    .banner-item-cnt {
      width: 100%;
      max-width: 580px;
      padding-right: 15px; }
      @media (max-width: 600px) {
        .banner-item-cnt {
          padding: 0;
          order: 2; } }
  .banner-img {
    width: 100%;
    max-width: 515px;
    height: 508px; }
    @media (max-width: 1470px) {
      .banner-img {
        max-width: 360px;
        height: auto; } }
    @media (max-width: 600px) {
      .banner-img {
        order: 1;
        margin: 0 auto 15px;
        max-width: 260px; } }
    .banner-img img {
      width: 100%;
      display: none; }
  .banner-title {
    display: block;
    margin-bottom: 20px;
    font-family: 'Gilroy Black';
    font-size: 39px;
    line-height: 53px;
    color: #464646; }
    @media (max-width: 1150px) {
      .banner-title {
        font-size: 32px;
        line-height: 42px; } }
    @media (max-width: 992px) {
      .banner-title {
        font-size: 21px;
        line-height: 26px; } }

.banner-slider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  @media (max-width: 767px) {
    .banner-slider .owl-dots {
      display: none; } }
  .banner-slider .owl-dots .owl-dot {
    display: block;
    width: 100%;
    height: 2px;
    max-width: 59px;
    background-color: #ebebeb !important;
    transition: 0.3s ease; }
    .banner-slider .owl-dots .owl-dot:not(:last-child) {
      margin-right: 6px; }
    .banner-slider .owl-dots .owl-dot span {
      display: none; }
    .banner-slider .owl-dots .owl-dot.active {
      background-color: #8dc63f !important; }

.infobanner {
  padding-bottom: 145px; }
  @media (max-width: 860px) {
    .infobanner {
      padding: 0 0 37px; } }
  @media (max-width: 860px) {
    .infobanner .wrapper {
      padding: 0; } }
  .infobanner-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 860px) {
      .infobanner-list {
        flex-direction: column; } }
    .infobanner-list a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 367px;
      height: 162px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden; }
      .infobanner-list a:not(:last-child) {
        margin-right: 10px; }
        @media (max-width: 860px) {
          .infobanner-list a:not(:last-child) {
            margin-right: 0px; } }
      .infobanner-list a::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: 0.3s ease; }
      .infobanner-list a:hover::before {
        opacity: 1; }
      .infobanner-list a > span {
        position: relative;
        left: 30px;
        z-index: 2; }
        @media (max-width: 767px) {
          .infobanner-list a > span {
            left: 22px; } }
        .infobanner-list a > span span {
          display: block;
          font-family: 'PF Din Text Cond Pro Bold';
          text-transform: uppercase;
          line-height: 27px;
          color: #ffffff; }
          .infobanner-list a > span span.infobanner-title {
            font-size: 36px;
            line-height: 40px; }
            @media (max-width: 1170px) {
              .infobanner-list a > span span.infobanner-title {
                font-size: 28px;
                line-height: 34px; } }
            @media (max-width: 860px) {
              .infobanner-list a > span span.infobanner-title {
                font-size: 36px;
                line-height: 40px; } }
          .infobanner-list a > span span.infobanner-title-s {
            font-size: 21px; }
            @media (max-width: 1170px) {
              .infobanner-list a > span span.infobanner-title-s {
                font-size: 18px; } }
            @media (max-width: 860px) {
              .infobanner-list a > span span.infobanner-title-s {
                font-size: 21px; } }
          .infobanner-list a > span span.infobanner-title-m {
            font-size: 26px; }
            @media (max-width: 1170px) {
              .infobanner-list a > span span.infobanner-title-m {
                font-size: 20px; } }
            @media (max-width: 860px) {
              .infobanner-list a > span span.infobanner-title-m {
                font-size: 26px; } }

.benefits {
  padding: 0 0 97px; }
  @media (max-width: 992px) {
    .benefits {
      padding-bottom: 52px; } }
  .benefits-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .benefits-list {
        flex-flow: row wrap; } }
    .benefits-list .bnf {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      @media (max-width: 992px) {
        .benefits-list .bnf:not(:last-child) {
          margin-bottom: 20px; } }
      .benefits-list .bnf-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 23px;
        width: 100px;
        min-width: 100px;
        height: 100px;
        background-color: #f8f8f8;
        border-radius: 50%; }
        .benefits-list .bnf-icon img {
          max-width: 46px; }
        @media (max-width: 1170px) {
          .benefits-list .bnf-icon {
            margin-right: 10px; } }
      .benefits-list .bnf p {
        max-width: 140px;
        font-family: 'Gilroy Regular';
        font-size: 16px;
        line-height: 21px;
        color: #363636; }
        @media (max-width: 1170px) {
          .benefits-list .bnf p {
            font-size: 14px;
            line-height: 18px; } }
        @media (max-width: 992px) {
          .benefits-list .bnf p {
            font-size: 16px;
            line-height: 21px; } }

.infoblock {
  padding-bottom: 94px; }
  @media (max-width: 767px) {
    .infoblock {
      padding-bottom: 50px; } }
  .infoblock .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .infoblock .wrapper .logo {
      width: 100%;
      max-width: 190px;
      margin-right: 86px; }
      .infoblock .wrapper .logo img {
        width: 100%; }
      @media (max-width: 992px) {
        .infoblock .wrapper .logo {
          display: none; } }
  .infoblock-cnt p {
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 21px;
    color: #898989; }
    @media (max-width: 992px) {
      .infoblock-cnt p {
        font-size: 14px; } }
  .infoblock-cnt h5 {
    margin-bottom: 21px;
    font-family: 'Gilroy Bold';
    font-size: 18px;
    line-height: 21px;
    color: #8dc63f; }
    @media (max-width: 992px) {
      .infoblock-cnt h5 {
        font-size: 16px;
        margin-bottom: 23px; } }
  .infoblock-cnt .paragraph-item:not(:last-child) {
    margin-bottom: 54px; }
    @media (max-width: 767px) {
      .infoblock-cnt .paragraph-item:not(:last-child) {
        margin-bottom: 26px; } }
  .infoblock-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px; }
    @media (max-width: 767px) {
      .infoblock-row {
        flex-flow: row wrap;
        padding-bottom: 30px; } }
  .infoblock-column {
    width: 100%;
    max-width: 385px; }
    @media (max-width: 767px) {
      .infoblock-column {
        max-width: 100%; } }
    .infoblock-column:not(:last-child) {
      padding-right: 15px; }
      @media (max-width: 767px) {
        .infoblock-column:not(:last-child) {
          margin-right: 0; } }

.infoblock-popular {
  padding-top: 40px; }
  @media (max-width: 767px) {
    .infoblock-popular {
      padding-bottom: 27px; } }
  .infoblock-popular h5 {
    display: inline-block;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .infoblock-popular h5 {
        margin-bottom: 18px; } }
  .infoblock-popular a {
    display: inline-block;
    padding: 10px;
    font-family: 'Gilroy Regular';
    font-size: 12px;
    line-height: 12px;
    color: #898989;
    border-radius: 7px;
    box-shadow: 0 0 3px lightgray;
    border: 1px solid #ebebeb;
    transition: 0.3s ease; }
    .infoblock-popular a:hover {
      box-shadow: none; }
    .infoblock-popular a:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 17px; }
      @media (max-width: 767px) {
        .infoblock-popular a:not(:last-child) {
          margin: 0 3px 11px 0; } }
    @media (max-width: 767px) {
      .infoblock-popular a {
        padding: 13px 10px; } }

.prices {
  padding-bottom: 110px; }
  @media (max-width: 992px) {
    .prices {
      padding-bottom: 40px; } }
  .prices-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .prices-list {
        flex-flow: row wrap;
        justify-content: space-around; } }
  .prices .price-item {
    display: block;
    width: 100%;
    max-width: 180px; }
    @media (max-width: 860px) {
      .prices .price-item {
        max-width: 150px;
        margin: 0 0 32px; } }
    .prices .price-item:hover .price-name {
      color: #8dc63f; }
  .prices .price-img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 156px;
    height: 148px;
    margin: 0 auto 35px;
    background-color: #f8f8f8; }
    @media (max-width: 860px) {
      .prices .price-img {
        max-width: 119px;
        height: 113px;
        margin: 0 0 32px; } }
    .prices .price-img img {
      position: absolute;
      bottom: -15px;
      right: 15px; }
      @media (max-width: 860px) {
        .prices .price-img img {
          max-height: 120px; } }
  .prices .price-name {
    display: block;
    font-family: 'Gilroy Regular';
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #4c4c4c;
    transition: 0.3s ease; }
    @media (max-width: 992px) {
      .prices .price-name {
        font-size: 16px;
        line-height: 16px; } }
    @media (max-width: 860px) {
      .prices .price-name {
        text-align: left; } }

.catalog-preview {
  padding-bottom: 33px; }
  @media (max-width: 767px) {
    .catalog-preview {
      padding-bottom: 27px; } }

@media (max-width: 767px) {
  .catalog-head .wrapper {
    padding: 0; } }

.catalog-head .title {
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .catalog-head .title {
      margin-bottom: 35px; } }

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  @media (max-width: 1170px) {
    .catalog-list {
      justify-content: space-around; } }
  .catalog-list.tab-cnt {
    display: none; }
  .catalog-list.active {
    display: flex; }

.catalog-item {
  position: relative;
  width: 100%;
  max-width: 298px;
  margin-bottom: 27px;
  padding: 8px 25px 30px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  transition: 0.3s ease;
  overflow: hidden; }
  @media (max-width: 767px) {
    .catalog-item {
      margin-bottom: 14px; } }
  .catalog-item:hover {
    box-shadow: 0 0 20px #ebebeb; }
  .catalog-item-img {
    display: block;
    width: 100%;
    height: 202px;
    margin-bottom: 9px; }
    .catalog-item-img img {
      max-width: 100%;
      max-height: 100%; }
  .catalog-item-title {
    display: block;
    margin-bottom: 9px;
    font-family: 'Gilroy Bold';
    font-size: 21px;
    line-height: 21px;
    color: #8dc63f;
    text-transform: uppercase;
    transition: 0.3s ease; }
    .catalog-item-title:hover {
      color: #6ca954; }
  .catalog-item p {
    display: block;
    margin-bottom: 12px;
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 16px;
    color: #262626; }
  .catalog-item-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px; }
    .catalog-item-price span {
      font-family: 'Gilroy Bold';
      font-size: 21px;
      line-height: 21px; }
      .catalog-item-price span.price-value {
        font-size: 16px;
        line-height: 16px; }
      .catalog-item-price span.old {
        margin-right: 16px;
        color: #c2c2c2; }
        .catalog-item-price span.old span:not(.price-value) {
          text-decoration: line-through; }
  .catalog-item-links {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .catalog-item-links .btn {
      max-width: 139px;
      height: 45px;
      margin-right: 10px;
      font-size: 18px;
      line-height: 45px; }

.link-text {
  font-family: 'Gilroy Bold';
  font-size: 16px;
  line-height: 20px;
  color: #8dc63f;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease; }
  .link-text:hover {
    color: #6ca954; }

.stickers {
  position: absolute;
  top: 35px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  .stickers .sticker {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 66px;
    height: 36px;
    padding: 0 5px;
    font-family: 'Gilroy SemiBold';
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase; }
    .stickers .sticker:not(:last-child) {
      margin-bottom: 6px; }
    .stickers .sticker-s {
      font-size: 11px;
      line-height: 11px; }
    .stickers .sticker-m {
      font-size: 12px;
      line-height: 12px; }
    .stickers .sticker.sticker-green {
      background-color: #8dc63f; }
    .stickers .sticker.sticker-orange {
      background-color: #f7941c; }

.item-triggers {
  position: absolute;
  top: 20px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .item-triggers .item-trigger {
    cursor: pointer; }
    .item-triggers .item-trigger:not(:last-child) {
      margin-right: 9px; }
    .item-triggers .item-trigger path {
      fill: #DEDEDE;
      transition: 0.3s ease-out; }
    .item-triggers .item-trigger:hover path,
    .item-triggers .item-trigger.active path {
      fill: #8dc63f; }

.circle-list {
  padding: 0 0 19px;
  margin: 0;
  list-style: none; }
  .circle-list li {
    position: relative;
    padding-left: 12px;
    font-family: 'Gilroy SemiBold';
    font-size: 11px;
    line-height: 18px;
    color: #363636; }
    .circle-list li::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #8dc63f; }

.sections {
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .sections {
      padding-bottom: 73px; } }
  .sections-list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 992px) {
      .sections-list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; } }
  .sections-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 563px;
    padding-right: 30px;
    background-image: url("../images/gray.jpg");
    background-repeat: no-repeat;
    background-size: 100% 294px;
    background-position: center; }
    @media (max-width: 992px) {
      .sections-item {
        padding-right: 10px;
        background-size: 100% 250px;
        background-position: top center; } }
    @media (max-width: 767px) {
      .sections-item {
        padding-right: 0;
        background-size: 100% 174px; } }
    .sections-item:not(:last-child) {
      margin-right: 10px; }
      @media (max-width: 992px) {
        .sections-item:not(:last-child) {
          margin: 0 0 50px; } }
      @media (max-width: 767px) {
        .sections-item:not(:last-child) {
          margin: 0 0 22px; } }
  .sections-cnt {
    padding: 134px 15px 20px 50px; }
    @media (max-width: 1600px) {
      .sections-cnt {
        padding: 50px 15px 20px 15px; } }
    @media (max-width: 992px) {
      .sections-cnt {
        padding: 70px 15px 20px 25px; } }
    @media (max-width: 767px) {
      .sections-cnt {
        padding: 23px 0 15px 20px; } }
  .sections-title {
    display: block;
    margin-bottom: 21px;
    font-family: 'Gilroy Black';
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    color: #4c4c4c;
    transition: 0.3s ease; }
    @media (max-width: 1270px) {
      .sections-title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 20px; } }
    @media (max-width: 767px) {
      .sections-title {
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 16px; } }
    .sections-title:hover {
      color: #8dc63f; }
  .sections-links a {
    display: inline-block;
    margin-bottom: 22px;
    font-family: 'Gilroy Regular';
    font-size: 14px;
    line-height: 14px;
    color: #4c4c4c;
    transition: 0.3s ease; }
    .sections-links a:not(:last-child) {
      margin-right: 20px; }
      @media (max-width: 600px) {
        .sections-links a:not(:last-child) {
          margin-right: 0; } }
    .sections-links a:hover {
      color: #8dc63f; }
    @media (max-width: 1270px) {
      .sections-links a {
        margin-bottom: 7px; } }
    @media (max-width: 600px) {
      .sections-links a {
        display: block; } }
  .sections-img {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 300px; }
    .sections-img img {
      max-width: 100%; }
      @media (max-width: 767px) {
        .sections-img img {
          max-height: 210px; } }
    @media (max-width: 1600px) {
      .sections-img {
        max-width: 200px; } }
    @media (max-width: 992px) {
      .sections-img {
        max-width: 300px; } }
    @media (max-width: 767px) {
      .sections-img {
        justify-content: center;
        width: 100%;
        max-width: 155px; } }
    @media (max-width: 359px) {
      .sections-img {
        max-width: 115px; } }

.footer {
  background-color: #363636;
  padding: 77px 0 60px; }
  @media (max-width: 767px) {
    .footer {
      padding: 59px 0; } }
  .footer-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .footer-row.copyright {
      align-items: center; }
      @media (max-width: 480px) {
        .footer-row.copyright {
          flex-direction: column;
          align-items: flex-start; }
          .footer-row.copyright p:first-child {
            margin-bottom: 36px; } }
    @media (max-width: 767px) {
      .footer-row {
        flex-flow: row wrap; } }
    .footer-row:not(:last-child) {
      margin-bottom: 48px; }
    .footer-row p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: 'Gilroy Regular';
      font-size: 16px;
      line-height: 16px;
      color: #ffffff; }
      .footer-row p img {
        width: 100%;
        max-width: 112px;
        margin-left: 5px; }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    @media (max-width: 767px) {
      .footer-column {
        padding-right: 10px; } }
    .footer-column-item:not(:last-child) {
      margin-bottom: 28px; }
    .footer-column-item a,
    .footer-column-item span {
      display: block;
      margin-bottom: 25px;
      font-family: 'Gilroy Regular';
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
      transition: 0.3s ease; }
      .footer-column-item a:hover,
      .footer-column-item span:hover {
        color: #8dc63f; }
      .footer-column-item a:not(:last-child),
      .footer-column-item span:not(:last-child) {
        margin-bottom: 8px; }
    .footer-column-item a.footer-column-item-title,
    .footer-column-item span.footer-column-item-title {
      margin-bottom: 15px;
      font-family: 'Gilroy Bold';
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      color: #8dc63f; }
      @media (max-width: 767px) {
        .footer-column-item a.footer-column-item-title,
        .footer-column-item span.footer-column-item-title {
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 16px; } }

.socials-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -13px; }
  .socials-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin: 0 10px 0 0 !important; }
    .socials-links a img {
      width: 100%; }

/*# sourceMappingURL=maps/style.css.map */
