<footer class="footer">
    <div class="wrapper">
        <div class="footer-row">
            <div class="footer-column">
                <div class="footer-column-item">
                    <a class="footer-column-item-title" href="#">Септики</a>
                    <a href="#">Биодека</a>
                    <a href="#">Астра</a>
                    <a href="#">Топас</a>
                    <a href="#">Волгарь</a>
                    <a href="#">Genesis</a>
                    <a href="#">Биодевайс</a>
                    <a href="#">Евролос ПРО</a>
                    <a href="#">Евролос ПРО</a>
                    <a href="#">Евролос ПРО</a>
                    <a href="#">Гарда</a>
                    <a href="#">Далос</a>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-item">
                    <a class="footer-column-item-title" href="#">Погреба</a>
                    <a href="#">Тингард</a>
                    <a href="#">Kellari</a>
                    <a href="#">Топас</a>
                    <a href="#">Kelder </a>
                </div>
                <div class="footer-column-item">
                    <span class="footer-column-item-title">Другое</span>
                    <a href="#">Комплектующие</a>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-item">
                    <span class="footer-column-item-title">Навигация по сайту</span>
                    <a href="stocks.html">Акции</a>
                    <a href="services.html">Услуги</a>
                    <a href="#">Статьи</a>
                    <a href="#">Наши работы</a>
                    <a href="#">Наши цены</a>
                    <a href="#">Отзывы</a>
                    <a href="howToBuy.html">Как купить</a>
                    <a href="#">Компания</a>
                    <a href="#">Контакты</a>
                    <a href="map.html">Карта сайта</a>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-item">
                    <span class="footer-column-item-title">Связаться с нами</span>
                    <span class="footer-adress">199034, г. Санкт-Петербург, <br> Московское шоссе, дом 25, <br> корпус 1 оф. 813</span>
                    <a href="tel:+78123857383">+7 (812) 385 73 83</a>
                </div>
                <div class="footer-column-item">
                    <span class="footer-column-item-title socials-links-title">Мы в соц. сетях  </span>
                    <div class="socials-links">
                        <a href="#"><img src="./images/facebook.svg" alt="facebook"></a>
                        <a href="#"><img src="./images/vk.svg" alt="vk"></a>
                        <a href="#"><img src="./images/instagram.svg" alt="instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-row copyright">
            <p>© 2012-2020 Экосеть</p>
            <p>Website by 
                <a href="#"><img src="./images/paradigma.png" alt="paradigma"></a>
            </p>
        </div>
    </div>
</footer>