<header>
    <div class="header-triggers">
        <form action="#">
            <div class="search-field">
                <input type="search" name="search">
                <button type="submit"><img src="./images/search-icon.svg" alt="search"></button>
            </div>
        </form>
        <div class="call-triggers">
            <a href="tel:+38000000000"><img src="./images/callback-icon.svg" alt="whatsapp">+38 00 00 00 000</a>
            <a href="#" class="callback-trigger">заказать звонок</a>
        </div>
    </div>
    <div class="header-navigation">
        <a href="#" class="logo"><img src="./images/logo.svg" alt="logo"></a>
        <nav>
            <ul>
                <li class="menu-hidden-trigger">
                    <a href="#">Каталог</a>
                    <ul class="menu-hidden">
                        <li class="menu-hidden-column">
                            <li class="menu-hidden-title"><a href="#">Септики</a></li>
                            <li><a href="#">Биодека</a></li>
                            <li><a href="#">Астра</a></li>
                            <li><a href="#">Топас</a></li>
                            <li><a href="#">Волгарь</a></li>
                            <li><a href="#">Genesis</a></li>
                            <li><a href="#">Биодевайс</a></li>
                            <li><a href="#">Евролос ПРО</a></li>
                            <li><a href="#">Евролос ПРО</a></li>
                            <li><a href="#">Евролос ПРО</a></li>
                            <li><a href="#">Гарда</a></li>
                            <li><a href="#">Далос</a></li>
                        </li>
                        <li class="menu-hidden-column">
                            <li class="menu-hidden-title"><a href="#">Погреба</a></li>
                            <li><a href="#">Тингард</a></li>
                            <li><a href="#">Kellari</a></li>
                            <li><a href="#">Топас</a></li>
                            <li><a href="#">Kelder </a></li>
                        </li>
                        <li class="menu-hidden-column">
                            <li class="menu-hidden-title"><a href="#">Водоснабжение</a></li>
                            <li><a href="#">Водоснабжение</a></li>
                            <li><a href="#">Водоснабжение</a></li>
                            <li><a href="#">От магистрали в дом</a></li>
                        </li>
                        <li class="menu-hidden-column">
                            <li class="menu-hidden-title"><a href="#">Комплектующие</a></li>
                            <li><a href="#">Категория1</a></li>
                            <li><a href="#">Категория2</a></li>
                            <li><a href="#">Категория3</a></li>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Наши работы</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Компания</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>