<div id="oneClick" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-cnt">
                <form action="#">
                    <div class="popup-title">Купить в 1 клик <span>АСТРА 3</span></div>
                    <input type="text" placeholder="Ваше имя" class="field">
                    <input type="tel" placeholder="телефон* " class="field phone-mask">
                    <textarea name="massege" placeholder="Коментарий"  class="field field-norequired"></textarea>
                    <input class="btn" type="submit" value="заказать">
                </form>
            </div>
            <div class="popup-close"><img src="./images/popup-close.svg" alt="icon-close"></div>
        </div>
    </div>
</div>
<div id="callbackPopup" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-cnt">
                <form action="#">
                    <div class="popup-title">Заказать бесплатный звонок!</div>
                    <input type="text" placeholder="Ваше имя" class="field">
                    <input type="tel" placeholder="телефон* " class="field phone-mask">
                    <input class="btn" type="submit" value="заказать">
                </form>
            </div>
            <div class="popup-close"><img src="./images/popup-close.svg" alt="icon-close"></div>
        </div>
    </div>
</div>
<div id="callbackPopupInstallation" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup">
            <div class="popup-cnt">
                <form action="#">
                    <div class="popup-title">Заказать монтаж!</div>
                    <input type="text" placeholder="Ваше имя" class="field">
                    <input type="tel" placeholder="телефон* " class="field phone-mask">
                    <input class="btn" type="submit" value="заказать">
                </form>
            </div>
            <div class="popup-close"><img src="./images/popup-close.svg" alt="icon-close"></div>
        </div>
    </div>
</div>