<div class="questions">
    <div class="wrapper">
        <div class="questions-titles">
            <img src="./images/fly.png" alt="fly">
            <h3 class="title">Остались вопросы? </h3>
            <p class="questions-subtitle">Получите консультацию по выбору оборудования, и стоимости монтажных работ</p>
        </div>
        <form action="#">
            <div class="questions-row">
                <div class="questions-fields">
                    <input type="text" placeholder="Ваше имя" class="field">
                    <input type="tel" placeholder="телефон* " class="field phone-mask">
                    <input class="btn" type="submit" value="отправить">
                </div>
                <p>или позвоните нам по телефону  <a href="tel:+78123857383">+7 (812) 385 73 83</a></p>
            </div>
        </form>
    </div>
</div>