<div class="services">
    <div class="wrapper">
        <div class="services-article article">
            <h1>Монтаж септиков и систем канализации под ключ</h1>
            <p><b>Где заказать установку септика под ключ? Сколько стоит монтаж автономной канализации?</b></p>
            <p>Монтаж септика выполняется нашей командой в течении одного дня. В принципе ничего сложного нет, и если вы хотите сделать туалет на даче с  канализацией, то мы вам поможем. Теперь по этапам, необходимо осуществить доставку на участок, определить место монтажа, разметить котлован  и траншеи под трубы. Потом все это смонтировать и состыковать. Но на практике без опыта проведения таких работ все может затянуться, поэтому  рекомендую доверить все профессионалам.</p>
            <p>Перед тем как установить септик в частном доме и определить стоимость, наш инженер приезжает к вам на участок и осматривает его и ваш дом.</p>
            <h5>Для нас важны следующие параметры:</h5>
            <ul>
                <li>количество проживающих человек; </li>
                <li>какие сантехнические приборы установлены в доме;</li>
                <li>характер проживания (постоянно, летняя дача, дом выходного дня);</li>
                <li>на какой глубине выходит труба из дома;</li>
                <li>какой тип грунта на участке;</li>
                <li>рельеф;</li>
                <li>куда система канализации будет сливать очищенную воду;</li>
                <li>сможет ли работать техника на участке;</li>
                <li>куда лучше выгрузить песок.</li>
            </ul>
            <h5>Для нас важны следующие параметры:</h5>
            <ol>
                <li>количество проживающих человек; </li>
                <li>какие сантехнические приборы установлены в доме;</li>
                <li>характер проживания (постоянно, летняя дача, дом выходного дня);</li>
                <li>на какой глубине выходит труба из дома;</li>
                <li>какой тип грунта на участке;</li>
                <li>рельеф;</li>
                <li>куда система канализации будет сливать очищенную воду;</li>
                <li>сможет ли работать техника на участке;</li>
                <li>куда лучше выгрузить песок.</li>
            </ol>
            <img align="right" src="./images/services-article.jpg"  alt="article">
            <p>Конечно, если вы сможете ответить на большую часть этих вопросов, то мы сможем сказать, сколько будет стоить септик под ключ по телефону.  И на практике примерно половину монтажей мы делаем без предварительного выезда.</p>
            <p>После того как мы точно знаем что делать, а вы знаете стоимость септика с установкой, мы вместе с вами назначаем дату работ. За день до начала  вам позвонит инженер и согласует время в которое приедет с бригадой. Мы работаем без предоплаты, расчет производится на участке в два этапа.  Первый - оплата самого септика, и только после завершения всех работ за монтаж автономной канализации.</p>
            <p><b>Этапы установки септика</b></p>
            <h5>Для нас важны следующие параметры:</h5>
            <ol>
                <li>количество проживающих человек; </li>
                <li>какие сантехнические приборы установлены в доме;</li>
                <li>характер проживания (постоянно, летняя дача, дом выходного дня);</li>
                <li>на какой глубине выходит труба из дома;</li>
                <li>какой тип грунта на участке;</li>
                <li>рельеф;</li>
                <li>куда система канализации будет сливать очищенную воду;</li>
                <li>сможет ли работать техника на участке;</li>
                <li>куда лучше выгрузить песок.</li>
            </ol>
            <p>Установка септика начинается с определения места, размечаем котлован и начинаем его разрабатывать, например, для популярной модели Топас  на 5 человек, размер котлована необходим 1,5х1,5м и в глубину 2,5м, в нормальном глинистом грунте без грунтовой воды два человека выкапывает  за 4-5 часов. Когда границы котлована уже намечены, размечаем траншеи от дома до точки сброса.</p>
            <img align="left" src="./images/services-article.jpg"  alt="article">
            <p>Самые популярные решения - принудительные, и вода из них отводится напорным  шлангом в дренажную канаву. В таких случаях мы рекомендуем устанавливать систему  около канавы, чтобы исключить использование греющего кабеля и не нести  дополнительных затрат.</p>
            <p>Котлован готов, можно спускать. Спуск осуществляем вручную вплоть до моделей на 10 человек, вес у которых не превышает 500кг. Существуют решения разных конструкций и масс. Обвязываем конструкцию определенным образом и спускаем в котлован, на предварительно подготовленную песчаную подушку толщиной 10-15см. Устанавливаем его по уровню и начинаем равномерно его засыпать. В этот же момент наполняем водой таким образом, чтоб наполнение и обсыпка происходила равномерно. </p>
            <p>Осталось совсем немного и загородная канализация начнет работу. Не торопимся закапывать все полностью, начинаем укладывать трубы от дома  до септика с небольшим уклоном, который нормируется СНиП 2.04.03-85 1-2 см на 1 погонный метр трубы. Трубу укладываем на песчанную подушку и  засыпаем песком. Так она будет жестко зафиксирована в грунте и никакие подвижки и пучения ей не страшны. Вместе с трубой в гофре укладываем  электрический питающий кабель. Как только труба приближается к септику, размечаем на нем где будет отверстие для входа. Все решения из  пластика не имеют входа, так гораздо удобнее в плане установки. Высверливаем отверстие и герметично привариваем раструб к стенкам  строительным феном и прутком. Кстати это самая сложная технологическая операция, и многие клиенты у нас ее заказывают отдельно. Об этом можно  прочитать в разделе Шефмонтаж.</p>
            <p>Соединяем. Теперь займемся электрикой, через специальный сальник просовываем кабель в сервисную камеру и соединяем провода с  распределительной коробкой. Устанавливаем компрессор и насос для откачки очищенной воды (это только для принудительных станций). Остается  только сделать выход. Но это уже проще, также используем коронку, но уже для трубы 50мм, высверливаем отверстие в корпусе и герметично  завариваем его строительным феном. Внутри трубы будет еще идти всасывающий шланг. Так более надежно - труба выполняет функцию чехла, и  шланг при необходимости всегда можно выдернуть, не раскапывая грунт.</p>
            <p>Все трубы подведены, электрокабель подключен. Закапываем полностью. Крышка из земли торчит на 20 см, аварийный датчик стоит на ней и его  всегда видно. Канализация для дома под ключ готова.</p>
            <p>В стартовом режиме канализация для загородного дома заполнена чистой водой, как только вы начнете использовать сантехнические приборы ее  необходимо включить. Компрессор начнет нагнетать в воду воздух, а там растворенный кислород, начинаются процессы окисления органических  веществ и образование активного ила. Но это уже в следующей статье.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MppOb215REQ"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div><a href="#">02.05.2020</a></div>
            <div class="article-share">
                
                <div class="article-share-trigger"><img src="./images/share.svg" alt="share"></div>
                <div class="article-share-cnt">
                    <a href="#"><img src="./images/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="./images/pintarest.svg" alt="pintarest"></a>
                    <a href="#"><img src="./images/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="./images/facebook.svg" alt="facebook"></a>
                </div>
            </div>
        </div>
    </div>
</div>