<div class="banner">
    <div class="wrapper-ml wrapper">
        <div class="banner-slider owl-carousel">
            <div class="banner-item">
                <div class="banner-item-cnt">
                    <div class="banner-title">САМАЯ популярная канализация  частного дома ЮНИЛОС АСТРА и ТОПАС</div>
                    <a href="#" class="btn">узнать подробнее</a>
                </div>
                <div class="banner-img">
                    <img src="./images/banner-img-1.jpg" alt="banner">
                </div>
            </div>
            <div class="banner-item">
                <div class="banner-item-cnt">
                    <div class="banner-title">САМАЯ популярная канализация  частного дома ЮНИЛОС АСТРА и ТОПАС2</div>
                    <a href="#" class="btn">узнать подробнее</a>
                </div>
                <div class="banner-img">
                    <img src="./images/banner-img-1.jpg" alt="banner">
                </div>
            </div>
            <div class="banner-item">
                <div class="banner-item-cnt">
                    <div class="banner-title">САМАЯ популярная канализация  частного дома ЮНИЛОС АСТРА и ТОПАС3</div>
                    <a href="#" class="btn">узнать подробнее</a>
                </div>
                <div class="banner-img">
                    <img src="./images/banner-img-1.jpg" alt="banner">
                </div>
            </div>
        </div>
    </div>
</div>