<div class="benefits">
    <div class="wrapper">
        <h3 class="title">Почему мы</h3>
        <div class="benefits-list">
            <div class="bnf">
                <div class="bnf-icon"><img src="./images/bnf-icon-1.svg" alt="bnf-icon"></div>
                <p>Выезд на участок <br>  - БЕСПЛАТНО </p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img src="./images/bnf-icon-2.svg" alt="bnf-icon"></div>
                <p>Оплата товара -   <br>НА МЕСТЕ ПОСЛЕ <br>  ДОСТАВКИ!</p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img src="./images/bnf-icon-3.svg" alt="bnf-icon"></div>
                <p>Монтаж  <br> канализации  <br> за 2 дня! </p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img class="bnf-icon-4" src="./images/bnf-icon-4.svg" alt="bnf-icon"></div>
                <p>Товар ВСЕГДА  <br> В НАЛИЧИИ  </p>
            </div>  
        </div>
    </div>
</div>