<div class="cart cart-section">
    <div class="wrapper">
        <h1 class="title title-s">Корзина</h1>
        <div class="cart-list">
            <p class="cart-without">Ваша корзина пустая</p>
            <form action="#">
                <div class="cart-row cart-navigation">
                    <p class="cart-name">Наименование</p>
                    <p class="cart-info">Доп. информация</p>
                    <p class="cart-quantity">Кол-во</p>
                    <p class="cart-price">Цена</p>
                </div>
                <div class="cart-row cart-item">
                    <a href="card.html" class="cart-img"><img src="./images/cart-img-1.png" alt="cart-img"></a>
                    <a href="card.html" class="cart-name">Астра 50</a>
                    <div class="cart-info">
                        <ul>
                            <li>Для 3х человек</li>
                            <li>Производительность 600 л/сутки</li>
                            <li>Залповый сброс 120 л</li>
                        </ul>
                    </div>
                    <div class="cart-quantity">
                        <p>Кол-во</p>
                        <div class="quantity-row">                        
                            <button class="quantity-plus"><img src="./images/plus.svg" alt="plus"></button>
                            <input type="text"  disabled value="1">
                            <button class="quantity-minus"><img src="./images/minus.svg" alt="minus"></button>
                        </div>
                    </div>
                    <div class="cart-price">
                        <p class="cart-price-old">1 478 200 <span>руб</span></p>
                        <p class="cart-price-new">389 130 <span>руб</span></p>
                    </div>
                    <a href="#" class="delete-cart-item"><img src="./images/popup-close.svg" alt="close"></a>
                </div>
                <div class="cart-row cart-item">
                    <a href="card.html" class="cart-img"><img src="./images/cart-img-2.png" alt="cart-img"></a>
                    <a href="card.html" class="cart-name">Астра 4</a>
                    <div class="cart-info">
                        <ul>
                            <li>Для 3х человек</li>
                            <li>Производительность 600 л/сутки</li>
                            <li>Залповый сброс 120 л</li>
                        </ul>
                    </div>
                    <div class="cart-quantity">
                        <p>Кол-во</p>
                        <div class="quantity-row">                        
                            <button class="quantity-plus"><img src="./images/plus.svg" alt="plus"></button>
                            <input type="text"  disabled value="1">
                            <button class="quantity-minus"><img src="./images/minus.svg" alt="minus"></button>
                        </div>
                    </div>
                    <div class="cart-price">
                        <p class="cart-price-new">70 500 <span>руб</span></p>
                    </div>
                    <a href="#" class="delete-cart-item"><img src="./images/popup-close.svg" alt="close"></a>
                </div>
                <div class="cart-row cart-buttons">
                    <div>
                        <p class="cart-all">Итого</p>
                        <p class="cart-buttons-price">459 630 <span>руб</span></p>
                    </div>
                    <input class="btn" type="submit" value="Оформить заказ">
                </div>
            </form>
        </div>
    </div>
</div>