<div class="checkout">
    <div class="wrapper">
        <h1 class="title title-s">Оформление заказа</h1>
        <div class="checkout-block">
            <div class="checkout-form">
                <form action="#">
                    <div class="checkout-form-row">
                        <p>Контактные данные</p>
                        <input type="text" placeholder="Имя и фамилия" class="field">
                        <input type="text" placeholder="Город" class="field">
                        <input type="tel" placeholder="Мобильный телефон" class="field phone-mask">
                        <input type="mail" placeholder="Эл. почта" class="field">
                        <textarea class="field" placeholder="Комментарий к заказу"></textarea>
                    </div>
                    <div class="checkout-form-row">
                        <p>Выбор способов доставки и оплаты</p>
                        <div class="checkout-form-column-wrap">
                            <div class="checkout-form-column">
                                <span>Доставка</span>
                                <div class="custom-select">
                                  <select>
                                    <option value="1">Самовывоз</option>
                                    <option value="2">С пункта выдачи</option>
                                  </select>
                                </div>
                            </div>
                            <div class="checkout-form-column">
                                <span>Оплата</span>
                                <div class="custom-select">
                                  <select>
                                    <option value="1">Оплатить заказ при получении</option>
                                    <option value="2">Наличными при доставке</option>
                                    <option value="3">Наличными при доставке</option>
                                    <option value="4">По счету - наш менеджер выставит счет как на физ. так и на юр. лицо</option>
                                    <option value="5">Наличными или банковской картой у нас в офисе</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn" type="submit" value="заказать">
                </form>
            </div>
            <div class="checkout-info">
                <div class="checkout-info-row">
                    <a href="#">Астра 50</a>
                    <span><span>1</span> шт.</span>
                    <p>70 500 <span>руб</span></p>
                </div>
                <div class="checkout-info-row">
                    <a href="#">Астра 4</a>
                    <span><span>12</span>  шт.</span>
                    <p>389 130 <span>руб</span></p>
                </div>
                <div class="checkout-info-row checkout-info-row-all">
                    <p class="checkout-all">Итого </p>
                    <p>459 630 
                </div>
                <a href="cart.html" class="checkout-edit">Редактировать заказ</a>
            </div>
        </div>
    </div>
</div>