<div class="how">
    <div class="wrapper">
        <h1 class="title title-s">Как купить</h1>
        <div class="how-list benefits-list">
            <div class="bnf">
                <div class="bnf-icon"><img src="./images/bnf-icon-2.svg" alt="bnf-icon"></div>
                <p>Банковской картой <br> через сайт </p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img class="bnf-icon-5" src="./images/bnf-icon-5.svg" alt="bnf-icon"></div>
                <p>Наличными или  <br>банковской картой  <br>у нас в офисе</p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img class="bnf-icon-6" src="./images/bnf-icon-6.svg" alt="bnf-icon"></div>
                <p>Наличными при<br>  доставке</p>
            </div>
            <div class="bnf">
                <div class="bnf-icon"><img class="bnf-icon-7" src="./images/bnf-icon-7.svg" alt="bnf-icon"></div>
                <p>По счету - наш менеджер <br>  выставит счет как на физ. <br> так и на юр. лицо</p>
            </div>  
        </div>
        <p class="bold"><b>Когда ждать доставку? </b></p>
        <p>Доставка осуществляется в течение 1-3х рабочих дней после оформления заказа, или в более поздние сроки по вашему желанию (приобретенное у нас  оборудование может бесплатно храниться на нашем складе до 6-ти месяцев по договору ответственного хранения). Приобретайте выгодно оборудование  зимой.</p>
        <p class="bold"><b>Сколько стоит доставка?</b></p>
        <p>Доставка товара в пределах 80 км от КАД осуществляется бесплатно в течение 3-х рабочих дней с момента заказа. Доставка товара дальше 80 км от КАД рассчитывается менеджером после оформления заказа и осуществляется также в сроки не более 3-х рабочих дней  с момента звонка менеджера</p>
        <p class="bold"><b>Возврат или обмен</b></p>
        <p>Наступил гарантийный случай? Хотите оформить возврат или обмен? Обратитесь за помощью к нашему менеджеру мы незамедлительно все исправим:  бесплатно доставим новое оборудование взамен бракованного или вернем вам деньги.</p>
    </div>
</div>