<div class="infobanner">
    <div class="wrapper wrapper-m">
        <div class="infobanner-list">
            <a href="#" style="background-image: url('./images/banner-info-1.jpg');">
                <span>
                    <span class="infobanner-title">Монтаж</span>
                    <span class="infobanner-title-s">канализации  <br> под ключ</span>
                </span>
            </a>
            <a href="#" style="background-image: url('./images/banner-info-2.jpg');">
                <span>
                    <span class="infobanner-title">Доставка</span>
                </span>
            </a>
            <a href="#" style="background-image: url('./images/banner-info-3.jpg');">
                <span>
                    <span class="infobanner-title">Консультация</span>
                    <span class="infobanner-title-m">и подбор</span>
                </span>
            </a>
        </div>
    </div>
</div>