<div class="infoblock">
    <div class="wrapper">
        <a href="index.html" class="logo"><img src="./images/logo.svg" alt="logo"></a>
        <div class="infoblock-cnt">
            <div class="infoblock-row">
                <div class="infoblock-column">
                    <div class="paragraph-item">
                        <p>Выбиралась канализация частного дома для коттеджа между Юнилос Астра 5 и Топас 5. Септик Топас для заказчика оказался лучше. После предварительного выезда на участок, на следующий день началась установка очистного сооружения. Монтаж котлована занимает в среднем 5-6 часов, все зависит от типа грунта на участке. Будет ли монтаж канализации производится  своими руками или спецтехникой в большей степень зависит от того какой уровень грунтовых вод на объекте. Также это влияет на способ отведения воды: выбираем между Топас 5 самотечный или Топас 5 с насосом</p>
                    </div>
                    <div class="paragraph-item">
                        <p>Как устроена канализация загородного дома. Что происходит в прямой и обратной фазе очистки стоков внутри септика. Отличия Юнилос и Топас в устройстве и принципе работы - минимальны.</p>
                    </div>
                </div>
                <div class="infoblock-column">
                    <div class="paragraph-item">
                        <p>В вашем загородном доме установлена локальная  станция очистки стоков и вы не планируете   проживать там зимой, то септик в обязательном  порядке необходимо законсервировать. Это поможет  избежать неожиданных поломок автономной системы  очистки.</p>
                    </div>
                    <div class="paragraph-item">
                        <p>Канализация в частном доме требует визуального  контроля регулярно, так же как и любое оборудование.  Обслужить технически автономную систему очистки  стоков не так сложно, как кажется на первый взгляд. </p>
                    </div>
                </div>
            </div>
            <p>У нас на сайте представлена самая популярная канализация частного дома Юнилос Астра и Топас. Также  локальная канализация для коттеджного посёлка и группы домов Евробион </p>
        </div>
    </div>
</div>