<div class="prices">
    <div class="wrapper">
        <h3 class="title">НАШИ ЦЕНЫ</h3>
        <div class="prices-list">
            <a href="" class="price-item">
                <span class="price-img">
                    <img src="./images/price-item-1.png" alt="price-item">
                </span>
                <span class="price-name">Юнилос астра</span>
            </a>
            <a href="" class="price-item">
                <span class="price-img">
                    <img src="./images/price-item-2.png" alt="price-item">
                </span>
                <span class="price-name">Топас</span>
            </a>
            <a href="" class="price-item">
                <span class="price-img">
                    <img src="./images/price-item-3.png" alt="price-item">
                </span>
                <span class="price-name">Юбас ЕВРОБИОН</span>
            </a>
            <a href="" class="price-item">
                <span class="price-img">
                    <img src="./images/price-item-4.png" alt="price-item">
                </span>
                <span class="price-name">Монтаж</span>
            </a>
            <a href="" class="price-item">
                <span class="price-img">
                    <img src="./images/price-item-5.png" alt="price-item">
                </span>
                <span class="price-name">Обслуживание</span>
            </a>
        </div>
    </div>
</div>