<div class="price">
    <div class="wrapper">
        <h1 class="title title-s">Наши цены</h1>
    </div>
    <div class="sections">
        <div class="wrapper wrapper-l">
            <div class="sections-list">
                <div class="sections-item sections-item-1">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">септики</a>
                        <div class="sections-links">
                            <a href="#">Биодека</a>
                            <a href="#">Астра</a>
                            <a href="#">Топас</a>
                            <a href="#">Волгарь</a>
                            <a href="#">Genesis</a>
                            <a href="#">Биодевайс</a>
                            <a href="#">Евролос ПРО</a>
                            <a href="#">Евролос БИО</a>
                            <a href="#">КолоВеси</a>
                            <a href="#">Гарда</a>
                            <a href="#">Далос</a>
                        </div>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-1.png" alt="sections"></div>
                </div>
                <div class="sections-item sections-item-2">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">Водоснабжение</a>
                        <div class="sections-links">
                            <a href="#">От скважины в дом</a>
                            <a href="#">От колодца в дом </a>
                            <a href="#">От магистральной трубы в дом</a>
                        </div>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-2.png" alt="sections"></div>
                </div>
                <div class="sections-item sections-item-3">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">погреба</a>
                        <div class="sections-links">
                            <a href="#">Тингард</a>
                            <a href="#">Kellari </a>
                            <a href="#">Топас</a>
                            <a href="#">Kelder </a>
                        </div>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-3.png" alt="sections"></div>
                </div>
                <div class="sections-item sections-item-4">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">комплектующие</a>
                        <div class="sections-links">
                            <a href="#">Категория1</a>
                            <a href="#">Категория2</a>
                            <a href="#">Категория3</a>
                        </div>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-4.png" alt="sections"></div>
                </div>
                <div class="sections-item sections-item-5">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">Монтаж</a>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-5.png" alt="sections"></div>
                </div>
                <div class="sections-item sections-item-6">
                    <div class="sections-cnt">
                        <a href="#" class="sections-title">обслуживание </a>
                    </div>
                    <div class="sections-img"><img src="./images/sections-img-6.png" alt="sections"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="price-info">
            <h5>Стоимость канализации загородного дома BioDeka</h5>
            <p>Стоимость канализации загородного дома BioDeka</p>
            <p>Нижеуказанная цена Юнилос Астра не включает монтаж. Монтаж рассчитывается отдельно с учетом особенностей грунта, протяженности сетей и других  параметров. Вы можете рассчитать цену канализации Астра с монтажом самостоятельно с помощью удобного онлайн - калькулятора "Стоимость монтажа",  встроенного в карточку товара. Или просто набрать нам в офис по телефону: +7 (812) 385-73-83</p>
            <p>Комплект аварийной сигнализации бесплатно!</p>
            <p>При принудительном способе отведения воды в стоимость входит встроенная емкость и дренажный насос Pedrollo TOP-1/DAB NOVA 180-M</p>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Модель</th>
                    <th>Тип сброса</th>
                    <th>Глубина врезки</th>
                    <th>Объем переработки, м3/су </th>
                    <th>Габариты, м </th>
                    <th>ЦЕНА, руб</th>
                </tr>
                <tr>
                    <td><a href="#">BioDeka-8 C-800</a></td>
                    <td>Принудительный</td>
                    <td>1400</td>
                    <td>1.6</td>
                    <td>1,35х1,35х2,35</td>
                    <td>79 900</td>
                </tr>
                <tr>
                    <td><a href="#">BioDeka-8 C-800</a></td>
                    <td>Принудительный</td>
                    <td>1400</td>
                    <td>1.6</td>
                    <td>1,35х1,35х2,35</td>
                    <td>79 900</td>
                </tr>
                <tr>
                    <td><a href="#">BioDeka-8 C-800</a></td>
                    <td>Принудительный</td>
                    <td>1400</td>
                    <td>1.6</td>
                    <td>1,35х1,35х2,35</td>
                    <td>79 900</td>
                </tr>
                <tr>
                    <td><a href="#">BioDeka-8 C-800</a></td>
                    <td>Принудительный</td>
                    <td>1400</td>
                    <td>1.6</td>
                    <td>1,35х1,35х2,35</td>
                    <td>79 900</td>
                </tr>
                <tr>
                    <td><a href="#">BioDeka-8 C-800</a></td>
                    <td>Принудительный</td>
                    <td>1400</td>
                    <td>1.6</td>
                    <td>1,35х1,35х2,35</td>
                    <td>79 900</td>
                </tr>
            </table>
        </div>
    </div>
</div>