<div class="sections">
    <div class="wrapper wrapper-l">
        <div class="sections-list">
            <div class="sections-item sections-item-1">
                <div class="sections-cnt">
                    <a href="#" class="sections-title">септики</a>
                    <div class="sections-links">
                        <a href="#">Биодека</a>
                        <a href="#">Астра</a>
                        <a href="#">Топас</a>
                        <a href="#">Волга</a>
                        <a href="#">Genesis</a>
                    </div>
                </div>
                <div class="sections-img"><img src="./images/sections-img-1.png" alt="sections"></div>
            </div>
            <div class="sections-item sections-item-2">
                <div class="sections-cnt">
                    <a href="#" class="sections-title">Водоснабжение</a>
                    <div class="sections-links">
                        <a href="#">От скважины в дом</a>
                        <a href="#">От колодца в дом </a>
                        <a href="#">От магистральной трубы в дом</a>
                    </div>
                </div>
                <div class="sections-img"><img src="./images/sections-img-2.png" alt="sections"></div>
            </div>
            <div class="sections-item sections-item-3">
                <div class="sections-cnt">
                    <a href="#" class="sections-title">погреба</a>
                    <div class="sections-links">
                        <a href="#">Тингард</a>
                        <a href="#">Kellari </a>
                        <a href="#">Топас</a>
                        <a href="#">Kelder </a>
                    </div>
                </div>
                <div class="sections-img"><img src="./images/sections-img-3.png" alt="sections"></div>
            </div>
        </div>
    </div>
</div>