<div class="services">
    <div class="wrapper">
        <h1 class="title title-s">Услуги</h1>
        <div class="services-preview">
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="servicesOpen.html" class="services-preview-item-title">Монтаж</a>
                    <p>септиков и систем  канализации под ключ</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-1.jpg" alt="service-prev"></a>
            </div>
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="servicesOpen.html" class="services-preview-item-title">Водоснабжение  </a>
                    <p>на дачном участке</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-2.jpg" alt="service-prev"></a>
            </div>
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="servicesOpen.html" class="services-preview-item-title">Шефмонтаж </a>
                    <p>систем канализации</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-3.jpg" alt="service-prev"></a>
            </div>
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="servicesOpen.html" class="services-preview-item-title">Доставка </a>
                    <p>септиков</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-4.jpg" alt="service-prev"></a>
            </div>
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="servicesOpen.html" class="services-preview-item-title">Консультация  </a>
                    <p>и подбор септиков</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-5.jpg" alt="service-prev"></a>
            </div>
            <div class="services-preview-item">
                <div class="services-preview-item-cnt">
                    <a href="articleTemplate.html" class="services-preview-item-title">Шаблон  </a>
                    <p>статья все виды</p>
                    <a href="servicesOpen.html" class="services-preview-item-more">подробнее</a>
                </div>
                <a class="services-preview-item-img" href="#"><img src="./images/service-prev-5.jpg" alt="service-prev"></a>
            </div>
        </div>
    </div>
</div>