<div class="stocks">
    <div class="wrapper">
        <h1 class="title">акции</h1>
        <div class="stocks-preview">
            <div class="stocks-preview-item">
                <div class="stocks-preview-item-img"><img src="./images/stocks-prev-img-1.jpg" alt="stocks-prev-img"></div>
                <div class="stocks-preview-item-cnt">
                    <a href="stocksOpen.html" class="stocks-preview-item-title">Септик для вашего загородного дома  или дачи "под ключ" от 62700р За 1 день  без предоплаты.</a>
                    <p>Установка и обслуживание автономных систем канализации и  септиков в Ленинградской</p>
                    <a href="stocksOpen.html" class="stocks-preview-item-more">подробнее</a>
                </div>
            </div>
            <div class="stocks-preview-item">
                <div class="stocks-preview-item-img"><img src="./images/stocks-prev-img-2.jpg" alt="stocks-prev-img"></div>
                <div class="stocks-preview-item-cnt">
                    <a href="stocksOpen.html" class="stocks-preview-item-title">Автономные канализации в СПБ & ЛО</a>
                    <p>Установка и обслуживание автономных систем канализации в доме и на даче</p>
                    <a href="stocksOpen.html" class="stocks-preview-item-more">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>