<div class="stocks stocks-open article">
    <div class="wrapper">
        <h1 class="title">Септик для вашего загородного дома или дачи  "под ключ" от 62700р - за 1 день без предоплаты</h1>
        <div class="stocks-article">
            <div class="article-img-row">
                <img src="./images/stocks-article.jpg"  alt="article">
                <div>
                    <p>Установка и обслуживание автономных систем канализации и септиков в Ленинградской области</p>
                    <a href="#" class="article-date">02.05.2020</a>
                </div>
            </div>
        </div>
    </div>
</div>